.LoginMain,
.RegisterMain {
  min-height: 100vh;
  background-color: #0f0e13;
  background-image: radial-gradient(
      at 0% 0%,
      hsla(253, 16%, 7%, 1) 0,
      transparent 50%
    ),
    radial-gradient(at 50% 0%, hsla(225, 39%, 30%, 1) 0, transparent 50%),
    radial-gradient(at 100% 0%, hsla(339, 49%, 30%, 1) 0, transparent 50%);
}
::-webkit-input-placeholder {
  letter-spacing: 1px;
  font-weight: 400;
}
.loginBox {
  padding: 2rem;
  border-radius: 1rem;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.393);
}
.loginBox h2 {
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.loginVia {
  display: flex;
  width: 60%;
  justify-content: space-around;
  margin: 3rem 0;
}

.loginIcon {
  width: 6rem;
  height: 6rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(50px);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}
.loginIcon .fa-brands {
  font-size: 3rem;
}
.loginIcon::before {
  content: "";
  position: absolute;
  top: 0px;
  right: -12rem;
  width: 4rem;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  transform: skew(45deg);
  transition: 0.5s;
}

.loginIcon:hover::before {
  right: 12rem;
}
.inputBox {
  width: 70%;
  background: transparent;
  margin-bottom: 2rem;
  padding: 1.3rem;
  border-radius: 0.6rem;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.inputBox .fa-solid {
  font-size: 2rem;
  margin-right: 1rem;
}
.inputBox input {
  padding-left: 1rem;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.8rem;
}

.logBtn {
  border: none;
  outline: none;
  background-color: crimson;
  margin: 2rem 0;
  width: 70%;
  font-size: 2rem;
  padding: 1.2rem 0;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.logBtn:hover {
  transform: translateY(-5px);
  background-color: rgb(235, 21, 64);
}
.extraLinks {
  width: 70%;
  margin: 2rem 0;
}
.extraLinks h3 {
  color: rgba(255, 255, 255, 0.765);
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.extraLinks h3 a {
  font-weight: 500;
  color: crimson;
}

@media only screen and (max-width: 1300px) {
  .loginBox {
    width: 60%;
  }
}
@media only screen and (max-width: 1000px) {
  .loginBox {
    width: 70%;
  }
}
@media only screen and (max-width: 786px) {
  .loginBox {
    width: 85%;
  }
}
@media only screen and (max-width: 625px) {
  .loginBox {
    width: 85%;
  }
  .loginVia {
    width: 70%;
  }
  .inputBox {
    width: 90%;
  }
  .logBtn {
    width: 90%;
  }
  .extraLinks {
    width: 90%;
  }
}
@media only screen and (max-width: 450px) {
  .loginVia {
    width: 70%;
  }
  .loginIcon {
    width: 5rem;
    height: 5rem;
  }
  .loginIcon .fa-brands {
    font-size: 2.5rem;
  }
  .inputBox {
    width: 90%;
  }
  .inputBox .fa-solid {
    font-size: 1.6rem;
  }
  .inputBox input {
    padding-left: 0.5rem;
    font-size: 1.5rem;
  }
  .logBtn {
    width: 90%;
    font-size: 1.8rem;
  }
  .extraLinks {
    width: 90%;
  }
  .extraLinks h3 {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 370px) {
  .loginBox {
    width: 90%;
  }
  .loginVia {
    width: 85%;
  }
  .loginIcon {
    width: 5rem;
    height: 5rem;
  }
  .loginIcon .fa-brands {
    font-size: 2.5rem;
  }
  .inputBox {
    width: 95%;
  }
  .inputBox .fa-solid {
    font-size: 1.6rem;
  }
  .inputBox input {
    padding-left: 0.5rem;
    font-size: 1.5rem;
  }
  .logBtn {
    width: 95%;
    font-size: 1.8rem;
  }
  .extraLinks {
    width: 95%;
  }
  .extraLinks h3 {
    font-size: 1.2rem;
  }
}
