.PicingSectionMain {
  background-color: #0f0e13;
  background-image: radial-gradient(
      at 0% 0%,
      hsla(253, 16%, 7%, 1) 0,
      transparent 50%
    ),
    radial-gradient(at 50% 100%, hsla(225, 39%, 25%, 1) 0, transparent 50%);
  min-height: 100vh;
  padding-top: 5rem;
}

.PicingSectionMain h1 {
  font-weight: 500;
  padding-top: 3rem;
  font-size: 3.5rem;
  text-align: center;
}

.plans {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 5rem;
}

.plan {
  width: 28%;
  padding: 2rem 0;
  height: 98rem;
  text-align: center;
  font-weight: 400;
  margin-bottom: 3rem;
  background: rgb(39, 51, 89, 0.4);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.336);
}
.bestValue {
  overflow: hidden;
  position: relative;
}
.bestValue::before {
  content: "Best Value";
  font-size: 1.5rem;
  padding: 0.7rem 0;
  width: 100%;
  background-color: #fb1f61ad;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.bestValue h2 {
  margin-top: 3rem;
}
.plan h2 {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.plan h3 {
  font-weight: 400;
}
#price {
  font-weight: 400;
  font-size: 3rem;
  margin-top: 2rem;
}

.addToCart {
  margin-top: 1rem;
  font-size: 2.2rem;
  padding: 1.2rem 22%;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 3rem;
  background-color: cornflowerblue;
  transition: all 0.1s ease-in-out;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.187);
}
.addToCart a {
  width: 100%;
}
.addToCart:hover {
  transform: translateY(-5px);
}

#nextTime {
  font-size: 1.2rem;
  margin-top: 1.2rem;
  color: rgba(216, 198, 198, 0.993);
}

.fetures {
  margin-top: 2.5rem;
}

.fetures h3 {
  color: white;
  text-align: start;
  padding-left: 5rem;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}
.fetures h4 {
  color: rgba(255, 255, 255, 0.781);
  font-weight: 400;
  padding-left: 8rem;
  text-align: start;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}
.fetures h4 b {
  color: white;
  font-weight: 500;
}

.premiumBtn {
  background-color: rgb(247, 45, 106);
}

.businessBtn {
  background-color: rgb(255, 157, 60);
}

@media only screen and (max-width: 1245px) {
  .fetures h3 {
    padding-left: 3rem;
    font-size: 1.8rem;
  }
  .fetures h4 {
    padding-left: 5.7rem;
  }
}

@media only screen and (max-width: 1130px) {
  .fetures h3 {
    padding-left: 2rem;
    font-size: 1.8rem;
  }
  .fetures h4 {
    padding-left: 4.7rem;
  }
}

@media only screen and (max-width: 1000px) {
  .PicingSectionMain {
    padding-top: 60rem;
  }
  .plan {
    width: 40%;
  }
}

@media only screen and (max-width: 786px) {
  .plan {
    width: 60%;
  }
  .fetures h3 {
    padding-left: 5rem;
    font-size: 1.8rem;
  }
  .fetures h4 {
    padding-left: 8rem;
  }
}

@media only screen and (max-width: 620px) {
  .plan {
    width: 70%;
  }
  .PicingSectionMain h1 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 554px) and (min-width: 386px) {
  .PicingSectionMain {
    padding-top: 35rem;
  }
  .PicingSectionMain h1 {
    font-size: 2.3rem;
  }
  .fetures h3 {
    padding-left: 3rem;
    font-size: 1.5rem;
  }
  .fetures h4 {
    padding-left: 5rem;
  }
  .plan {
    width: 80%;
  }
}

@media only screen and (max-width: 386px) {
  .PicingSectionMain {
    padding-top: 40rem;
  }
  .PicingSectionMain h1 {
    font-size: 2rem;
  }
  .plan {
    width: 90%;
  }
  .fetures h3 {
    padding-left: 3rem;
    font-size: 1.2rem;
  }
  .fetures h4 {
    padding-left: 5rem;
  }
}
