nav {
  background: transparent;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.leftSideNav {
  padding-left: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hLogo {
  width: 18rem;
  height: max-content;
  color: #fff;
}
.rightSideNav {
  padding-right: 5rem;
  display: flex;
  align-items: center;
}

.rightSideNav .Links {
  display: flex;
}

.rightSideNav .Links li {
  font-family: "Fredoka", sans-serif;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  margin-right: 3.2rem;
  list-style: none;
  position: relative;
}
.subMenu {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  position: absolute;
  top: 5rem;
  border-radius: 5px;
  min-width: 35rem;
  display: none;
  transform: all 0.5s ease;
  background: rgba(39, 51, 89, 0.719);
  border: 1px solid rgba(15, 83, 255, 0.347);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 200;
}
.active {
  display: block;
}

.subDetailsContainer {
  font-size: 1.5rem;
  width: 100%;
  color: black;
  padding: 1.5rem 3rem;
  min-height: 5rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(15, 83, 255, 0.258);
  color: white;
}

.lastSub {
  border-bottom: none;
}

.subDetailsContainer:hover {
  opacity: 0.7;
}

.subDetailsContainer .leftSubMenu {
  margin-left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subDetailsContainer .leftSubMenu .fa-solid,
.fa-brands {
  font-size: 2.5rem;
}
.rightSubMenu {
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.rightSideNav .Links .title:hover {
  color: rgb(0, 183, 255);
}

.fa-chevron-down,
.fa-chevron-up {
  font-size: 1.5rem;
  margin-left: 1rem;
}

.loginBtn {
  cursor: pointer;
  font-size: 1.6rem;
  padding: 0.7rem 1.5rem;
  background: rgba(255, 255, 255, 0.05);
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  color: #fff;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: all 0.3s ease;
}
.loginBtn:hover {
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.822);
}
.cartOption {
  margin-left: 2.5rem;
  font-size: 1.8rem;
  cursor: pointer;
}

.fa-cart-plus {
  margin-right: 0.7rem;
}

.cartOption:hover {
  color: #f9c23c;
}

.fa-bars,
.fa-xmark {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 3rem;
  top: 2rem;
  font-size: 3rem;
  color: rgb(255, 255, 255);
}
#MenuInsideLogo {
  display: none;
}
@media only screen and (max-width: 1000px) {
  .fa-bars,
  .fa-xmark {
    display: block;
    z-index: 6;
  }
  .fa-xmark {
    position: fixed;
  }
  .rightSideNav {
    position: fixed;
    top: 0;
    right: 0;
    backdrop-filter: blur(25px);
    background-color: rgba(255, 255, 255, 0.4);
    padding-right: 0rem;
    width: 100%;
    height: 150vh;
    flex-direction: column;
    z-index: 5;
    display: none;
  }
  .activeMenu {
    display: block;
  }
  .rightSideNav .Links {
    width: 100%;
    margin-top: 8rem;
    flex-direction: column;
  }
  .rightSideNav .Links li {
    max-width: 100%;
    margin-right: 0;
    flex-direction: column;
    font-size: 2.2rem;
  }
  .rightSideNav .Links .title {
    border: 1px solid rgb(237, 231, 231);
    border-left: none;
    border-right: none;
    width: 100%;
    padding: 2rem 4rem;
    display: flex;
    justify-content: space-between;
  }
  .rightSideNav .Links .title:hover {
    color: rgb(255, 255, 255);
  }
  .loginBtn {
    width: 80%;
    font-size: 2rem;
    margin: auto;
    text-align: center;
    margin-top: 2rem;
    background-color: #ef8697;
  }
  .loginBtn:hover {
    background: #ef8697;
    border: none;
  }
  .cartOption {
    display: none;
  }

  .subMenu {
    width: 90%;
  }
  .leftSideNav {
    padding-left: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #hLogo {
    width: 15rem;
    color: #fff;
  }
  #MenuInsideLogoActive {
    width: 15rem;
    display: block;
    position: fixed;
    left: 3rem;
    top: 2rem;
    z-index: 5;
  }
}
